{:output-dir "resources/js/tutorials/compiled", :install-deps true, :optimizations :none, :preloads [devtools.preload figwheel.connect], :output-to "resources/js/tutorials/react_frontend.js", :source-map-timestamp true, :asset-path "js/tutorials/compiled", :external-config #:figwheel{:config {:on-jsload "tutorials.react_frontend.app/init", :build-id "dev", :websocket-url "ws://localhost:3449/figwheel-ws"}}, :main tutorials.react_frontend.app, :pretty-print true, :npm-deps {:react "16.1.0", :react-dom "16.1.0"}}